In [1]:
import sys
import os
import pandas as pd

sys.path.append(os.path.abspath(os.path.join('..', 'src')))
from data.database import MysqlConnection
from data.load_data import LoadData

In [2]:
#Importing database connection library
mysql = MysqlConnection()

#Bring the dataframe from the database
df = mysql.create_dataframe("../sql/queries/get_rows.sql", "staging_candidates")
df.head(10)

,id,first_name,last_name,email,application_date,country,yoe,seniority,technology,code_challenge_score,technical_interview_score
0,1,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data Engineer,3,3
1,2,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data Engineer,2,10
2,3,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9
3,4,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA Manual,7,1
4,5,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7
5,6,Alec,Abbott,juanita_hansen@gmail.com,2019-08-17,Zimbabwe,8,Junior,Adobe Experience Manager,2,9
6,7,Allison,Jacobs,alba_rolfson27@yahoo.com,2018-05-18,Wallis and Futuna,19,Trainee,Sales,2,9
7,8,Nya,Skiles,madisen.zulauf@gmail.com,2021-12-09,Myanmar,1,Lead,Mulesoft,2,5
8,9,Mose,Lakin,dale_murazik@hotmail.com,2018-03-13,Italy,18,Lead,Social Media Community Management,7,10
9,10,Terrance,Zieme,dustin31@hotmail.com,2022-04-08,Timor-Leste,25,Lead,DevOps,2,0

In [3]:
#Cambair el formato de la fecha
df['application_date'] = pd.to_datetime(df['application_date']).dt.strftime('%Y-%m-%d')

dtype('O')

In [4]:
#resumir las categorias en la columna technology   
mapping_dict = {
    'Game Development': 'Desarrollo de Software',
    'Development - Backend': 'Desarrollo de Software',
    'Development - FullStack': 'Desarrollo de Software',
    'Development - Frontend': 'Desarrollo de Software',
    'Development - CMS Backend': 'Desarrollo de Software',
    'Development - CMS Frontend': 'Desarrollo de Software',
    'Mulesoft': 'Desarrollo de Software',
    'Adobe Experience Manager': 'Desarrollo de Software',
    'System Administration': 'Administración y Gestión',
    'Database Administration': 'Administración y Gestión',
    'Business Analytics / Project Management': 'Administración y Gestión',
    'Sales': 'Administración y Gestión',
    'Data Engineer': 'Ingeniería de Datos',
    'Security': 'Seguridad',
    'Security Compliance': 'Seguridad',
    'Design': 'Diseño y Experiencia de Usuario',
    'QA Manual': 'Diseño y Experiencia de Usuario',
    'QA Automation': 'Diseño y Experiencia de Usuario',
    'Technical Writing': 'Diseño y Experiencia de Usuario',
    'Social Media Community Management': 'Marketing y Gestión de Redes Sociales',
    'DevOps': 'Otras Tecnologías y Habilidades',
    'Client Success': 'Otras Tecnologías y Habilidades',
    'Salesforce': 'Otras Tecnologías y Habilidades',
    'Business Intelligence': 'Otras Tecnologías y Habilidades'
}

# Reemplazar los valores en la columna 'Tecnologia' con las nuevas categorías
df['technology'] = df['technology'].replace(mapping_dict)
#validamos que se haya hecho el cambio
df['technology'].value_counts()

Desarrollo de Software                   17374
Otras Tecnologías y Habilidades           9543
Administración y Gestión                  7715
Diseño y Experiencia de Usuario           7601
Seguridad                                 3788
Marketing y Gestión de Redes Sociales     2028
Ingeniería de Datos                       1951
Name: technology, dtype: int64

In [5]:
#Renombrar la columna 'antiguo_nombre' a 'nuevo_nombre'
df = df.rename(columns={'yoe': 'years_of_experiences'})

In [6]:
#Subir estas correcciones a la base de datos
#Loading local data to the database
Load = LoadData()
Load.insert_data_from_dataframe("../sql/queries/insert_data.sql", "../sql/queries/get_rows.sql","candidates",df)